header{
    background-color: #00A9FF;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}
form{
    box-sizing: border-box;
    padding: 10px;
}
a{
    text-decoration: none;
    color:white;
}
.container{
    display: grid;
}
